<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta property="og:image" content="http://immich.danieltomov.com/share/photo/{{ share_id }}/{{ album_thumbnail }}/thumbnail"/>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='lg/css/lightgallery-bundle.min.css') }}"/>