<div id="loading-spinner"><span class="loader"></span></div>
<script src="{{ url_for('static', filename='lg/lightgallery.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/autoplay/lg-autoplay.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/fullscreen/lg-fullscreen.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/rotate/lg-rotate.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/thumbnail/lg-thumbnail.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/video/lg-video.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='lg/plugins/zoom/lg-zoom.umd.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='web.js') }}"></script>
<script  type='text/javascript'>
    lgallery.init({{ lgInit | safe }}); // initLightGallery imported from web.js
</script>