
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single Image Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% include 'head.html' %}
</head>
<body>
    <div id="header"> 
        <div id="download-all">
            <a href="/s/{{ share_id }}/download" title="Download all"><img src="{{ url_for('static', filename='download-all.svg') }}" height="24" width="24" alt="Download all"></a>
        </div>
    
    </div>
    <div id="lightgallery">
        {% for item in paths %}{% if item['type'] == 'video' %}<a data-video='{"source":[{"src":"{{ item["video"] }}","type":"video/mp4"}],"attributes":{"playsinline":"playsinline","controls":"controls"}}' data-download-url="{{ item['original'] }}"><img alt="" src="{{ item['thumb'] }}"/><div class="play-icon"></div></a>
        {% elif item['type'] == 'photo' %}<a href="{{ item['preview'] }}" data-download-url="{{ item['original'] }}"><img alt="" src="{{ item['thumb'] }}"/></a>
        {% endif %}{% endfor %}
    </div>
    {% include 'js.html' %}
</body>
</html>
